{% load static %}

<!DOCTYPE html>
<html lang="en" >
  <head>
    <meta charset='utf-8'/>
      <title>Portfolio Mateusz Potocki</title>
      <meta name="description" content="Porfolio Mateusz Potocki Web Developer">
      <link href='https://fonts.googleapis.com/css?family=Raleway:100,200,400,600' rel='stylesheet' type='text/css'>
      <link href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.7.4/jquery.fullPage.min.css" rel="stylesheet" type="text/css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="{% static 'portfolio_cv/css/animate.min.css' %}">
      <link rel='stylesheet' href="{% static 'portfolio_cv/css/bootstrap.min.css' %}">
      <link rel='stylesheet' href="{% static 'portfolio_cv/css/style.css' %}">
    </head>
  <!-- partial:index.partial.html -->
  <body>
    <!-- begin nav header -->
    <div class='nav-head'>
      <div class='nav-brand'>
        <img src="https://s3-us-west-2.amazonaws.com/parallax-theme/assets/bradlogo2.png">
      </div>
      <i class="fa fa-bars fa-3x"></i>
      <div class="header-links">
        <ul>
          <li data-menuanchor="fourthPage"><a href="#contact">CONTACT</a></li>
          <li data-menuanchor="thirdPage"><a href="#portfolio">PORTFOLIO</a></li>
          <li data-menuanchor="secondPage"><a href="#about">ABOUT</a></li>
        </ul>
      </div>
    </div>
    <!-- end nav header -->

    <!-- sidebar slider -->
    <div class="nav-screen">
      <i class="fa fa-times fa-3x"></i>
      <div class="nav-container">
        <div class="nav-links">
          <ul id='myMenu'>
            <li data-menuanchor="secondPage"><a href="#about">ABOUT</a></li>
            <li data-menuanchor="thirdPage"><a href="#portfolio">PORTFOLIO</a></li>
            <li data-menuanchor="fourthPage"><a href="#contact">CONTACT</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- end navbar slider -->

    <!-- begin fullpage -->
    <div id="fullpage">

      <!-- begin section -->
      <div class="section aboutme" data-anchor="aboutme">
        <div class="opaque-bg animated fadeInDown">
          <h1 style="color:white">MATEUSZ<span style="color:#FF6363">/</span>POTOCKI</h1>
          <p><span id="holder"></span><span class="blinking-cursor">|</span></p>
        </div>
        <i id="moveDown" class="fa fa-chevron-down fa-3x bounce"></i>
      </div>
      <!-- end section -->

      <!-- begin section -->

      <div class="section" data-anchor="skills">
        <div class="skills-content">
          <h1 class="wow fadeInDown" data-wow-delay="0.2s">ABOUT ME</h1>
          <p class="wow fadeInDown" data-wow-delay="0.2s">Bacon ipsum dolor amet turducken short ribs strip steak, cupim pastrami kielbasa sirloin doner drumstick pork belly meatloaf swine shank short loin bacon. Pastrami andouille bresaola spare ribs, jerky drumstick jowl kevin ground round bacon. Hamburger filet mignon tongue pancetta ground round strip steak. Biltong boudin swine, pork chop pig tri-tip short loin shank alcatra kielbasa. Picanha fatback jowl, pastrami tri-tip chicken turkey. Spare ribs picanha alcatra kielbasa rump t-bone shankle meatball landjaeger beef doner biltong fatback short ribs salami. Burgdoggen picanha frankfurter, brisket tongue pig beef ribs doner strip steak hamburger.</p>

          <div class="container">
            <h1 class="title-skills">Skills</h1>
            <div class="bar">
              <div class="skill">HTML</div>
              <div class="bar-outer"></div>
              <div class="speech-bubble html">90%</div>
              <div class='bar-inner ht'></div>
            </div> <!-- End Skill Bar -->

              <div class="bar">
                <div class="skill"><span>CSS</span></div>
                <div class="bar-outer"></div>
                <div class="speech-bubble css">80%</div>
                <div class='bar-inner cs'></div>
              </div> <!-- End Skill Bar -->

              <div class="bar">
                <div class="skill"><span>Photoshop</span></div>
                <div class="bar-outer"></div>
                <div class="speech-bubble photoshop">75%</div>
                <div class='bar-inner phs'></div>
              </div> <!-- End Skill Bar -->

              <div class="bar">
                <div class="skill"><span>Rails</span></div>
                <div class="bar-outer"></div>
                <div class="speech-bubble rails">45%</div>
                <div class='bar-inner ra'></div>
              </div> <!-- End Skill Bar -->

              <div class="bar">
                <div class="skill"><span>jQuery</span></div>
                <div class="bar-outer"></div>
                <div class="speech-bubble jquery">30%</div>
                <div class='bar-inner jq'></div>
              </div> <!-- End Skill Bar -->

              <div class="bar">
                <div class="skill"><span>PHP</span></div>
                <div class="bar-outer"></div>
                <div class="speech-bubble php">20%</div>
                <div class='bar-inner ph'></div>
              </div> <!-- End Skill Bar -->

          </div>
        </div>
      </div>
      <!-- end section -->

      <!-- begin section -->
      <div class="section" data-anchor="projects">
        <div class="content-slide">
          <div class="slide">
            <h1 class="wow fadeInDown" data-wow-delay="0.2s">XFAIRE</h1>
            <p class="wow fadeInDown" data-wow-delay="0.2s">Digital streaming service</p>
            <img class="wow fadeInUp" data-wow-delay="0.2s" src="https://s3-us-west-2.amazonaws.com/bradengelhardt/assets/xfaire.jpg">
          </div>
          <div class="slide">
            <h1>MACHETE ENERGY</h1>
            <p>Energy drink website</p>
            <img src="https://s3-us-west-2.amazonaws.com/bradengelhardt/assets/machete.jpg">
          </div>
          <div class="slide">
            <h1>PORTFOLIO</h1>
            <p>Mockup of a personal portfolio I was working on for a friend.</p>
            <img src="https://s3-us-west-2.amazonaws.com/bradengelhardt/assets/cascioportfolio.jpg">
            </div>
          <div class="slide">
            <h1>THATONEBLOG</h1>
            <p>Minimalist blogging platform.</p>
            <img src="https://s3-us-west-2.amazonaws.com/bradengelhardt/assets/blog.jpg">
          </div>
          <div class="slide">
            <h1>PIXBORED</h1>
            <p>Website for sharing images and gifs.</p>
            <img src="https://s3-us-west-2.amazonaws.com/bradengelhardt/assets/pixbored.jpg">
            </div>
          <div class="slide">
            <h1>PERSONAL WEBSITE</h1>
            <p>Responsive vertical/horizontal header website theme.</p>
            <img src="https://s3-us-west-2.amazonaws.com/bradengelhardt/assets/personalsite.jpg">
          </div>
        </div>
      </div>
      <!-- end section -->

      <!-- begin section -->
      <div class="section" data-anchor="contact">
        <div class="content wow fadeInDown" data-wow-delay="0.2s">
          <h1>CONTACT ME</h1>
          <p>Whether you're interested in working with me or just want to say hello, I'd love to hear from you!</p>
          <br>
          <div class="contact-form">
            <div id="form-messages"></div>
            <form id="ajax-contact" method="post" role="form" action="contact.php" data-toggle="validator">
              <div class="form-group has-feedback wow fadeInLeft" data-wow-delay="0.6s">
                <input type="text" class="form-control" id="name" name="name" placeholder="NAME" data-error="Field can't be blank!" required>
                <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                <div class="help-block with-errors"></div>
              </div>

              <div class="form-group has-feedback wow fadeInRight" data-wow-delay="0.8s">
                <input type="email" class="form-control" id="email" name="email" placeholder="EMAIL" data-error="Field can't be blank!" required>
                <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                <div class="help-block with-errors"></div>
              </div>

              <div class="form-group has-feedback wow fadeInLeft" data-wow-delay="1s">
                <textarea data-minlength="10" class="form-control" id="message" name="message" placeholder="MESSAGE" data-error="Minimum of 10 characters" required></textarea>
                <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                <div class="help-block with-errors"></div>
              </div>

              <div class="hidden">
                <input type="text" class="form-control" id="human" name="human" placeholder="">
              </div>
              <div class="wow fadeInUp" data-wow-delay="1s">
                <button type="submit" id="submit" name="submit" class="btn btn-lg">SEND MESSAGE</button>
              </div>
            </form>
            <br>
          </div>
        </div>
      </div>
      <!-- end section -->

      <!-- begin section -->

      <div class="section fp-auto-height">
        <div class="footer">
          <p>CONNECT WITH ME</p>
          <div class="social-links">
            <span><a href="https://www.linkedin.com/in/bradleyengelhardt" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a></span>
            <span><a target="_blank" href="https://twitter.com/bradengelhardt" target="_blank"><i class="fa fa-twitter fa-2x"></i></a></span>
            <span><a href="https://github.com/SquishyAndroid" target="_blank"><i class="fa fa-github fa-2x"></i></a></span>
            <span><a href="https://codepen.io/SquishyAndroid/pens/public/"><i class="fa fa-codepen fa-2x"></i></a></span>
          </div>
        </div>
      </div>
      <!-- end section -->
    </div>
    <!-- end fullpage -->
  </body>
</html>
<script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
<script src="{% static 'portfolio_cv/js/jquery-2.1.1.min.js' %}"></script>
<script src="{% static 'portfolio_cv/js/wow.min.js' %}"></script>
<script src="{% static 'portfolio_cv/js/bootstrap.min.js' %}"></script>

<script src="{% static 'portfolio_cv/js/script.js' %}"></script>