<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Progress Bar Demo</title>

    <!-- (A) CSS + JS -->
    <link rel="stylesheet" href="{% static 'portfolio_cv/css/progress-bar.css' %}"/>
    <script src="{% static 'portfolio_cv/js/progress-bar.js' %}"></script>
</head>
<body>
<header>
    <h1>BLabla</h1>
    <div class="progress-bar">
        <div class="progress-bar-inner">0%</div>
    </div>
</header>
<article>
    <h2>asdadasdas</h2>
    <p>
        Bacon ipsum dolor amet turducken short ribs strip steak, cupim pastrami kielbasa sirloin doner drumstick pork
        belly meatloaf swine shank short loin bacon. Pastrami andouille bresaola spare ribs, jerky drumstick jowl kevin
        ground round bacon. Hamburger filet mignon tongue pancetta ground round strip steak. Biltong boudin swine, pork
        chop pig tri-tip short loin shank alcatra kielbasa. Picanha fatback jowl, pastrami tri-tip chicken turkey. Spare
        ribs picanha alcatra kielbasa rump t-bone shankle meatball landjaeger beef doner biltong fatback short ribs
        salami. Burgdoggen picanha frankfurter, brisket tongue pig beef ribs doner strip steak hamburger.
    </p>
    <p>
        Bacon ipsum dolor amet turducken short ribs strip steak, cupim pastrami kielbasa sirloin doner drumstick pork
        belly meatloaf swine shank short loin bacon. Pastrami andouille bresaola spare ribs, jerky drumstick jowl kevin
        ground round bacon. Hamburger filet mignon tongue pancetta ground round strip steak. Biltong boudin swine, pork
        chop pig tri-tip short loin shank alcatra kielbasa. Picanha fatback jowl, pastrami tri-tip chicken turkey. Spare
        ribs picanha alcatra kielbasa rump t-bone shankle meatball landjaeger beef doner biltong fatback short ribs
        salami. Burgdoggen picanha frankfurter, brisket tongue pig beef ribs doner strip steak hamburger.
    </p>
    <p>
        Bacon ipsum dolor amet turducken short ribs strip steak, cupim pastrami kielbasa sirloin doner drumstick pork
        belly meatloaf swine shank short loin bacon. Pastrami andouille bresaola spare ribs, jerky drumstick jowl kevin
        ground round bacon. Hamburger filet mignon tongue pancetta ground round strip steak. Biltong boudin swine, pork
        chop pig tri-tip short loin shank alcatra kielbasa. Picanha fatback jowl, pastrami tri-tip chicken turkey. Spare
        ribs picanha alcatra kielbasa rump t-bone shankle meatball landjaeger beef doner biltong fatback short ribs
        salami. Burgdoggen picanha frankfurter, brisket tongue pig beef ribs doner strip steak hamburger.
    </p>
    <p>
        Bacon ipsum dolor amet turducken short ribs strip steak, cupim pastrami kielbasa sirloin doner drumstick pork
        belly meatloaf swine shank short loin bacon. Pastrami andouille bresaola spare ribs, jerky drumstick jowl kevin
        ground round bacon. Hamburger filet mignon tongue pancetta ground round strip steak. Biltong boudin swine, pork
        chop pig tri-tip short loin shank alcatra kielbasa. Picanha fatback jowl, pastrami tri-tip chicken turkey. Spare
        ribs picanha alcatra kielbasa rump t-bone shankle meatball landjaeger beef doner biltong fatback short ribs
        salami. Burgdoggen picanha frankfurter, brisket tongue pig beef ribs doner strip steak hamburger.
    </p>
    <p>
        Bacon ipsum dolor amet turducken short ribs strip steak, cupim pastrami kielbasa sirloin doner drumstick pork
        belly meatloaf swine shank short loin bacon. Pastrami andouille bresaola spare ribs, jerky drumstick jowl kevin
        ground round bacon. Hamburger filet mignon tongue pancetta ground round strip steak. Biltong boudin swine, pork
        chop pig tri-tip short loin shank alcatra kielbasa. Picanha fatback jowl, pastrami tri-tip chicken turkey. Spare
        ribs picanha alcatra kielbasa rump t-bone shankle meatball landjaeger beef doner biltong fatback short ribs
        salami. Burgdoggen picanha frankfurter, brisket tongue pig beef ribs doner strip steak hamburger.
    </p>
    <p>
        Bacon ipsum dolor amet turducken short ribs strip steak, cupim pastrami kielbasa sirloin doner drumstick pork
        belly meatloaf swine shank short loin bacon. Pastrami andouille bresaola spare ribs, jerky drumstick jowl kevin
        ground round bacon. Hamburger filet mignon tongue pancetta ground round strip steak. Biltong boudin swine, pork
        chop pig tri-tip short loin shank alcatra kielbasa. Picanha fatback jowl, pastrami tri-tip chicken turkey. Spare
        ribs picanha alcatra kielbasa rump t-bone shankle meatball landjaeger beef doner biltong fatback short ribs
        salami. Burgdoggen picanha frankfurter, brisket tongue pig beef ribs doner strip steak hamburger.
    </p>

</article>
</body>
</html>
